$common-color: #041427;
$bg-color: #304156;
// 输入框背景颜色
$input-background-color: rgb(3, 38, 60, 0.5);
// 输入框提示文字颜色
$input-placeholder-color: rgb(238, 238, 238, 0.4);
// 输入框边框颜色
$input-border-color: rgb(7, 101, 127);
// 文字颜色
$text-color: rgb(255, 255, 255);
// 文字选中颜色
$text-select-color: rgb(64, 158, 255);
// 弹出层背景颜色
$popover-background-color: rgba(3, 38, 60, 1);
// 弹出层选中背景颜色
$popover-hover-background-color: rgba(67, 235, 238, 0.3);
// 时间选择器边框颜色
$time-picker-border-color: rgba(67, 235, 238, 0.3);
// 表格标题背景颜色
$table-title-background-color: rgba(4, 20, 39, 1);
// 表格行背景颜色
$table-row-background-color: rgba(4, 20, 39, 1);
// 表格边框颜色
$table-border-color: rgba(9, 64, 94, 1);
// 表格背景颜色
$table-background-color: rgba(4, 20, 39, 1);
// 表格斑马纹背景颜色
$table-stripe-background-color: rgba(6, 38, 64, 0.5);
// 表格移入提示颜色
$table-hover-background-color: rgba(67, 235, 238, 0.3);
// 表格滚动条背景颜色
$table-scrollbar-background-color: rgb(7, 65, 96, 1);
// 表格滚动条滑块颜色
$table-scrollbar-thumb-color: rgb(67, 235, 238, 0.3);
// 分页器文字选中颜色
$pagination-text-select-color: rgb(0, 252, 250);
